@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --main-text-color: #ddd;
    --main-color: #ef4a4a;
    --dark-color: #353535;
    --gray-color: #a39e8f;
    --light-color: #dbd7d0;
}

html {
    font-family: 'Verdana', sans-serif;
    scroll-behavior: smooth;
    color: var(--main-text-color);
}

body {
    background: url('img/cover.jpg') no-repeat var(--gray-color);
    background-size: contain;
}

header {
    position: relative;
    width: 100%;
}

input.menu-toggle {
    display: none;
}

header .menu-btn {
    position: absolute;
    top: 4rem;
    right: 4rem;
    display: none;
}

    header .menu-btn span {
        display: block;
        width: 3rem;
        height: .2rem;
        background: #fff;
        margin: .4rem 0;
    }

nav {
    width: 70%;
    margin: 0 auto;
}
    nav ul {
        display: flex;
        justify-content: flex-start;
        list-style-type: none;
    }
        nav ul li {
            display: flex;
            align-items: center;
        }
            nav ul li a {
                text-decoration: none;
                text-transform: uppercase;
                color: var(--main-text-color);
                padding: 1.5rem 1rem;
                transition: all .4s;
            }

            nav ul li a:hover {
                cursor: pointer;
                background: var(--main-color);
            }

            .active {
                background: var(--main-color);
            }

nav ul.soc-icons {
    display: flex;
    padding-top: .5rem;
    margin-left: auto;
}
    nav ul.soc-icons li {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2rem;
        height: 2rem;
        background: rgba(0, 0, 0, .5);
        border-radius: 50%;
        margin: .5rem;
        transition: all .4s;
    }
        nav ul.soc-icons li:hover {
            cursor: pointer;
            background: var(--main-color);
        }
        .soc-icons ul li i {
            color: var(--main-text-color);
        }
        

h1.title {
    font-family: 'Kaushan Script', cursive;
    text-align: center;
    margin: 3rem;
    color: var(--main-text-color);
    font-size: 2.5rem;
    letter-spacing: 2px;
}

main {
    padding: 2rem;
    width: 70%;
    margin: 0 auto 5rem;
    border: solid 1px #000;
    box-shadow: 0 0 3rem #000;
    background: linear-gradient(0deg, var(--dark-color), var(--dark-color),
                                var(--dark-color), var(--dark-color),
                                transparent, transparent, transparent);
}

.btn {
    display: inline-block;
    margin: 2rem auto;
    padding: 1rem 2rem;
    background: var(--main-color);
    color: var(--main-text-color);
    text-transform: uppercase;
    cursor: pointer;
    transition: all .4s;
}
    .btn:hover {
        box-shadow: 0 0 10px #fff;
    }
    .btn:active {
        transform: scale(.98);
    }

/* About Section Styling */
section#about {
    text-align: center;
    width: 50%;
    padding: 3rem;
}
    section#about h2 {
        text-transform: uppercase;
        color: #fff;
        font-size: 3.5rem;
    }
    section#about h3 {
        font-family: 'Kaushan Script', cursive;
        color: var(--main-text-color);
        font-size: 1.5rem;
        margin: 1rem auto 2rem;
    }
    section#about p {
        color: var(--main-text-color);
        font-size: 1.1rem;
        line-height: 1.5;
    }


/* Team Section Style */
#team {
    display: flex;
    justify-content: space-between;
}

.team-info, .team-bio {
    width: 50%;
    padding: 2rem;
}

.team-info {
    text-align: right;
}
    .team-info h3, .team-bio h3 {
        margin: 2rem 0;
        font-size: 1.4rem;
        text-transform: uppercase;
    }
    .team-info p {
        line-height: 1.5;
    }

.team-bio {
    display: flex;
    flex-direction: column;
}

    .team-bio .member img {
        width: 7rem;
        height: auto;
        border-radius: 50%;
        margin: 1rem;
        float: left;
    }

    .team-bio .member h4 {
        margin: 2rem 0 .5rem;
    }

    .team-bio .member p {
        font-size: 1rem;
        margin-top: .5rem;
    }

/* Portfolio Section style */
#portfolio {
    text-transform: uppercase;
    color: var(--dark-color);
    width: 70%;
    margin: -5rem auto 5rem;
    padding: 3rem 3rem 5rem;
    box-shadow: 0 0 3rem #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--light-color);
    position: relative;
}
    #portfolio:before, #portfolio:after {
        content: '';
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        position: absolute;
        left: calc(50% - 3rem);
    }
    #portfolio:before {
        top: -2.5rem;
        background: var(--light-color);
    }
    #portfolio:after {
        bottom: -3.5rem;
        background: var(--dark-color);
    }

#portfolio .tabs {
    display: flex;
    justify-content: space-between;
}

#portfolio .tabs div {
    font-size: .8rem;
    margin: 1rem;
    padding: .5rem 2rem;
    border: solid 2px var(--dark-color);
    cursor: pointer;
    transition: all .4s;
}
    #portfolio .tabs div:hover {
        color: var(--main-text-color);
        background: var(--dark-color);
    }

#portfolio .gallery img {
    width: 49.5%;
    height: auto;
    cursor: pointer;
}

/* Footer Style */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--dark-color);
    color: var(--main-text-color);
    text-transform: uppercase;
    padding: 15rem 0 3rem;
    margin: -15rem 0 0;
}

footer form {
    display: flex;
    justify-content: space-between;
    margin: 2rem auto 0;
    padding: 0 10%;
}

footer form .left-side {
    display: flex;
    flex-direction: column;
}

footer form input, footer form textarea {
    background: #565656;
    padding: 1rem;
    margin: .5rem;
    width: 20rem;
    border: none;
}

footer form input::placeholder, footer form textarea::placeholder {
    color: var(--main-text-color);
}

p.copy {
    width: 100%;
    padding: .5rem;
    background: #000;
    font-size: .8rem;
    text-align: center;
}

/* Custom scroll bars style */
/* width */
::-webkit-scrollbar {
    width: 7px;
    border: solid 2px var(--dark-color);
    background: var(--gray-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border: solid 2px var(--dark-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--dark-color); 
}

/* Media queries for smaller screens */
@media screen and (min-width: 768px) and (max-width: 1200px) {
    html {
        font-size: 12px;
    }

    nav ul li a {
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 0px) and (max-width: 767px) {
    html {
        font-size: 8px;
    }

    header {
        position: relative;
        top: 0;
        left: 0;
        height: 5rem;
    }

    header .menu-btn {
        display: block;
        cursor: pointer;
    }

    nav {
        width: 60%;
    }

    nav ul {
        flex-direction: column;
        background: var(--dark-color);
        transform: scale(1, 0);
        transform-origin: top;
        transition: all .4s;
        border: solid 1px #000;
    }

        .menu-toggle:checked ~ nav ul {
            transform: scale(1, 1);           
        }

    nav ul li a {
        padding: .6rem 2rem;
        width: 100%;
    }
        nav ul li a:hover {
            padding-left: 3rem;
        }

    nav ul.soc-icons {
        border-top: solid 1px var(--main-color);
        flex-direction: row;
        width: 100%;
    }

    main {
        padding: 1rem;
        width: 90%;
        margin: 0 auto 5rem;
        padding-bottom: 5rem;
        box-shadow: 0 0 2rem #000;
    }

    .btn {
        padding: .5rem 1rem;
    }

    section#about {
        width: 100%;
        padding: 1rem;
    }

    #team {
        display: flex;
        flex-direction: column;
    }
    
    .team-info, .team-bio {
        width: 100%;
        padding: .5rem;
    }

    .team-info {
        text-align: center;
    }

    .team-bio h3 {
        text-align: center;
    }

    #portfolio {
        width: 90%;
        margin: -5rem auto 5rem;
        padding: 3rem 3rem 5rem;
        box-shadow: 0 0 2rem #000;
    }

    #portfolio .tabs div {
        font-size: .6rem;
        margin: .5rem;
        padding: .5rem 1rem;
        border: solid 1px var(--dark-color);
    }

    #portfolio .gallery img {
        width: 100%;
        height: auto;
    }

    /* nav {
        display: none;
    } */

    footer form {
        display: flex;
        flex-direction: column;
    }
    
    footer form input, footer form textarea {
        padding: 1rem;
        margin: .5rem;
        width: 30rem;
    }
}
